@page "/employeelist"



<!-- Page Content-->
<section class="py-5">
    <div class="container px-5 my-5">
        <h3>Employee List(select count - @SelectedEmployeesCount)</h3>
        <input type="checkbox" id="showFooter" @bind="ShowFooter" />
        <label for="showFooter">Show Footer</label>

        <div class="card-deck">
            @if (Employees != null)
            { 
                @foreach (var employee in Employees)
                {
                    <DisplayEmployee Employee="employee" ShowFooter="@ShowFooter"  OnEmployeeSelection="EmployeeSelectionChanged"></DisplayEmployee>
                }
            }
            else
            {
                <div class="spinner"></div>
            }
        </div>
    </div>
</section>